@model IEnumerable<Esmane_juhiluba.Models.LubaModel>

@{
    ViewData["Title"] = "Luba";
}

<h1>Luba</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perenimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teooria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sõidupäevik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sõidu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perenimi)
            </td>
            <td>
                @if (item.Teooria == -1)
                {
                    <p>Pole veel alustanud</p>
                }
                else if (item.Teooria >= 0)
                {
                    @Html.DisplayFor(modelItem => item.Teooria)
                }
            </td>
            <td>
                @if (item.Sõidupäevik == -1)
                {
                    <p>Pole veel alustanud</p>
                }
                else if (item.Sõidupäevik >= 0)
                {
                    @Html.DisplayFor(modelItem => item.Sõidupäevik)
                }
            </td>
            <td>
                @if (item.Sõidu == ".")
                {
                    <p>Pole veel alustanud</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Sõidu)
                }

            </td>
            <td>
                @if (item.Luba == ".")
                {
                    <p>Eksam pole veel tehtud</p>
                }
                else if (item.Luba == "Väljasta")
                {
                    <a asp-action="VäljastaLuba" asp-route-id="@item.Id">Väljasta</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Luba)
                }

            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
